* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
    color: #ffffff;
    cursor: pointer;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    height: 100%;
    background-color: var(--light-theme);
}

:root {
    --theme: #2691d9;
    --light-theme: #F2F8F9;
    --bg-text: #F6FAFD;
    --bg-view: rgba(201,231,248,57%);
    --line-color: #d1d1d1;
    --dropdown-icon: #8d8d8d;
    --dropdown-bg: #fdfdfd;
    --del-btn: #FE644F;
    --del-hover:#f15d4a;
    --edit-btn: #3DB2FF;
    --linear-btn: linear-gradient(90deg, #ff9533 0%, #ffc93d 100%);
    --border-input:#4b8ec4d7;
    --box-duration: .6s;
}

.container {
    margin: 75px 75px 10px 80px;
    padding: 7px 10px;
}

.description {
    --description-height: 40px;
    position: relative;
    height: var(--description-height);
    display: flex;
    box-sizing: border-box;

    margin: 0;
}

.description p {
    color: #434343;
    font-size: 17px;
    font-weight: bold;
    line-height: var(--description-height);
    padding-left: 15px;
}

.description p::after {
    content: "";
    border-left: 3px solid #3db2ff;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main {
    display: flex;
}

.main__form,
.main__noti {
    margin: auto;
    height: 100%;
    box-sizing: border-box;
}

.main__form {
    width: 60%;
    padding: 20px;
    display: flex;
    position: relative;
}
.form {
    width: 100%;
    padding: 12px 45px 0 32px;
    text-align: center;
    align-self: center;
    margin: 0 10px;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.form-label, .form-message {
    text-align: left;
}

.form-label{
    padding-bottom: 6px;
    line-height: 1.4rem;
    font-size: 1.4rem;
}

.form-input {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid var(--line-color);
    border-radius: 3px;
    box-shadow: 0 0.5px 1px 0 var(--line-color);
    outline: none;
    font-size: 1.4rem;
}
.form-input:hover, .form-input:focus {
    border-color: var(--border-input);
}

.form-group .valid .form-input {
    border-color: #2ecc71;
} 
.form-group.invalid .form-input {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-btn-submit {
    float: right;
    outline: none;
    margin-top: 15px;
    padding: 10px 30px;
    background: var(--linear-btn);

    font-size: 15px;
    color: var(--bg-text);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.form-btn-submit:hover {
    background: var(--linear-btn);
}

/* button import excel data, open a pop-up box*/
.main__form .import {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}
#my-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #565859c5;
}
#modal-btn{
    background: none;
    position: absolute;
    top: 25px;
    right: 20px;
}
.import-box-content {
    margin: 10% auto;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: box-popup;
    animation-duration: var(--box-duration);
    font-size: 14px;
}
@keyframes box-popup {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.import-box-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--bg-text);
    padding: 20px 30px;
}
.import-box-header h2 {
    margin: 0;
    font-size: 17px;
}
.import-box-body {
    background: var(--bg-text);
    display: block;
}
.body-open {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    border-top: 0.5px solid var(--line-color);
    border-bottom: 0.5px solid var(--line-color); 
    background: rgba(102, 201, 255, 12%);
}
.import-btn-open {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    margin: 10px 0 5px 10px;
}
.body-uploaded {
    padding: 15px 15px 5px 15px;
    color: var(--edit-btn);
}
.body-uploaded span {
    padding: 5px;
    color: var(--edit-btn);
}
.body-uploaded span:hover {
    text-decoration: underline;
    cursor: pointer;
}
.import-box-footer {
    display: flex;
    padding: 15px;
    color: #fff;
    background: var(--bg-text);
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.import-btn-cancel, 
.import-btn-save {
    box-sizing: border-box;
    margin: auto;
    margin: 15px;

    cursor: pointer;
    outline: none;
    color: var(--bg-text);

    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.import-btn-cancel {
    margin-right: 15px;
    background: #EEEEEE; 
    border: none;
    color: #434343;
}
.import-btn-save {
    background-color:  rgba(231, 10, 10, 0.81);
    margin-left: 15px;
}
.import-btn-cancel:hover {
    border: 1px solid var(--dropdown-icon);
    background: var(--bg-text);
}
.import-btn-save:hover {
    background-color: rgba(234, 36, 36, 81%);
}
/* button import excel data, open a pop-up box*/


.main__noti {
    width: 45%;
    height: auto;
    position: relative;
    font-size: 15px;
    margin: 20px 10px 30px 25px;

    box-sizing: border-box;
}
.noti-label, .noti-content {
    background: rgba(255, 255, 255, 70%);
}

.noti-label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 30%;
    height: 50px;
}

.noti-content {
    display: flexbox;
    padding: 25px 20px 20px 35px;
    margin: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
    height: 92%;
    box-sizing: border-box;

}
.content-status {
    margin-bottom: 20px;
}
.content-update {
    /* border: 1px solid var(--line-color); */
    border-radius: 10px;
    box-shadow: 0 0.55px 1px 0 var(--line-color);
    background: #ffffff;

    padding: 9px 30px;
    margin: 15px 0;
}

.content-update span {
    color: var(--edit-btn);
    font-size: 13px;
    float: right;
}

/* responsive for ipad */
@media (max-width: 1200px){
    .main__form {
        padding: 10px;
    }
    .form {
        padding: 32px 45px 0 12px;
    }
    .main__noti {
        margin: 20px 5px 30px 10px;
    }
}
@media (max-width: 990px) , 
       (width: 1024px) and (max-height: 1366px) {
    .container {
        display: block;
        height: 100%;
    }
    .main {
        flex-wrap: wrap;
        width: 100%;
    }
    .main__form {
        margin: auto;
        width: 95%;
        padding: 25px;
        padding-top: 40px;
    }
    .form {
        margin: 0;
        height: 100%;
        padding: 20px 55px 0 20px;
    }
    .main__noti{
        margin: auto;
        width: 85%;
        padding: 0 20px;
    }
}
/* responsive for ipad */
