body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    overflow-y: scroll;
}
/* header */
header {
    display: flex;
    align-items: center;
    padding: 8px 80px 8px 80px;
}
header span {
    border-bottom: 0.3px solid #cfcfcf;
    position: absolute;
    width: 88%;
    /* margin: 130px 0px 50px 5px; */
    padding: 70px 0px 10px 0px;
    overflow: hidden;
}
header img {
    margin-left: 10px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 40px;
}

/* illustration */
.illu {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}


/* form login */
.center {
    position: absolute;
    top: 53%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 400px;
}
.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
}
form .txt-field {
    position: relative;
    border: 1px solid #adadad;
    border-radius: 5px;
    margin: 30px 0;
}
form .txt-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: #5a5a5a;
    border: none;
    background: none;
    outline: none;
}

form .txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

form .txt-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
form .txt-field input:focus ~ label, 
form .txt-field input:valid ~ label {
    top: -12px;
    color: #2691d9;
    font-size: 12px;
}

form .txt-field input:focus ~ span::before, 
form .txt-field input:valid ~ span::before {
    width: 100%;
    border: 1px;
}

.btn-login {
    margin-right: 8px;
    width: 37%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 5px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.btn-login:hover {
    border-color: #2691d9;
    transition: .5s;
}

.btn-login-gg {
    width: 60%;
    height: 50px;
    border: 1px solid;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    color: #EA2424;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.btn-login-gg:hover {
    border-color: #b81e1e;
    background: #ffecec;
    color: #ca2222;
    transition: .3s;
}
.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a {
    color: #EA2424;
    text-decoration: none;
}
.signup_link a:hover {
    text-decoration: underline;
}

/* footer  */
footer {
    margin-top: 550px;
    background-color: #43ace4;
    padding: 0.5px;
    position: relative;
}
footer p {
    font-size: 16px;
    text-align: center;
    color: #e9f4fb;
}

.footer-illu-circle {
    position: absolute;
    bottom: 0;
}
.footer-illu-square {
    position: absolute;
    bottom:0;
    right: 0;
}

/* sign up */
.btn-signup {
    width: 39%;
    height: 51px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 5px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.btn-signup:hover {
    border-color: #2691d9;
    transition: .5s;
}

.login_link {
    border: 1px solid #2691d9;
    padding: 12px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 13px;
    border-radius: 5px;
    cursor: pointer;
    color: #2691d9;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 12px;
}
.login_link:hover {
    color: #1a679b;
    border: 1px solid #1a679b;
    background-color: #ebf5ff;
    transition: .3s;
}
