* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --text-color: #F6FAFD;
    --bg-color: #3DB2FF;
    --side-nav: #010718;
    --unselect-text-color: #E1E3E7;
    --hu-text: #223D4F;
    --bing-text: #0B6ECA;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    z-index: 5;
    background: var(--bg-color);
    transition: all .4s ease;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    background: var(--bg-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav .nav-bar-white {
    background: #FFF;
}

.nav-bar .sidebarOpen {
    display: block;
    margin: 0;
    padding: 0;
    color: var(--bg-color);
}

.nav-bar .logo {
    display: block;
    position: fixed;
    left: 58px;
}
.nav-bar .logo img {
    padding-right: 8px;
    text-decoration: none;
}
.hidden-logo {
    display: none;
    border-bottom: 1px solid #1d2031be;
    padding: 10px 20px;
}

.menu-links {
    display: flex;
    align-items: center;
}

.menu-links li {
    margin: 0 5px;
    list-style: none;
}
.menu-links li a {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    padding: 0 30px;
    margin-bottom: 5px ;
}

.menu-links li a img {
    cursor: pointer;
    vertical-align: bottom;
    text-align: center;
    padding-right: 5px;
}
@media (max-width: 960px) {
    /* .nav-bar .logo {
        display: block;
        width: 100%;
        text-align: center;
    } */
    .menu {
        color: var(--bing-text);
    }
}

@media (max-width: 950px) {
    .nav-bar .sidebarOpen {
        color: var(--text-color);
        font-size: 30px;
        padding: 5px;
        cursor: pointer;
    }
    .nav-bar .logo {
        display: none;
        width: 100%;
        text-align: center;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 33%;
        min-width: 280px;
        left: 0;
        top: 0;
        z-index: 100;
        background: var(--side-nav);
        transition: all .5s;
    }
    .menu-links {
        padding: 0;
        margin-left: 0;
        margin-top: 70px;

        flex-direction: column;
        justify-content: center;
    }
    .menu-links li {
        width: 245px;
        position: relative;
        vertical-align: middle;
        
    }
    .menu-links li:nth-last-child(1) {
        position: fixed;
        top: 77px;
        height: 61px;
    }

    .menu-links li a {
        display: block;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .menu-links li:nth-child(1):hover {
        background: #4e5768ab;
        border-radius: 5px;
        cursor: pointer;
    }
    .menu-links li:nth-child(2):hover {
        background: #4e5768ab;
        border-radius: 5px;
        cursor: pointer;
    }

    .hidden-logo {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .hidden-logo a {
        width: 80%;
    }
    .sidebarClose {
        color: var(--text-color);
        font-size: 30px;
        cursor: pointer;
        float: right;
        width: 15%;
    }

}

@media (min-width: 1110px),
    (width: 1024px) and (max-height: 1366px) {
    .menu-links {
        display: flex;
        align-items: center;
    }
    
}

