/* ::selection {
    background-color: var(--primary-color);
    color: #fff;
} */
body {
  background-color: #ffffff;
}
/* .container {
    margin: 75px 75px 0px 80px;
    padding: 7px 10px;
    position: relative;
} */
.container {
  margin: 75px 25px 0px 52px;
  /* padding: 7px 10px; */
  position: relative;
}

/* trang thông tin sinh viên */
.description {
  --description-height: 40px;
  position: relative;
  height: var(--description-height);
  display: flex;
  box-sizing: border-box;

  margin: 0;
}

.description p {
  color: #434343;
  font-size: 17px;
  font-weight: bold;
  line-height: var(--description-height);
  padding-left: 15px;
}

.description p::after {
  content: "";
  border-left: 3px solid #3db2ff;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* main */
.main {
  width: 100%;
}
.main__filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 5px;
  z-index: 2;
}
.main__filter--sort {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  box-sizing: border-box;
  margin: 0 40px;
}

.filter-icon {
  position: absolute;
  top: 13px;
  left: 4px;
}
/* .main {
    position: relative;
    width: 100%;
    justify-content: space-between;
} */

/* .main__filter::after{
    content: "";
    display: table;
    clear: both;
} */

/* leftside */
.sort-department,
.sort-year,
.sort-class {
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  padding: 3px;
  position: relative;
}
.select-field,
.sort-options li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select-field {
  height: 40px;
  padding: 0 20px;
  border: 1px solid var(--line-color);
  border-radius: var(--sort-border-radius);
  justify-content: space-between;
}

.search-icon {
  font-size: 15px;
  color: var(--dropdown-icon);
}
#menuDepartment,
#menuYear,
#menuClass {
  margin-top: 10px;
  padding: 5px 15px 15px 15px;
  border: 1px solid var(--line-color);
  border-radius: var(--sort-border-radius);
  background: #fff;
  display: none;
}

#menuDepartment .sort-options,
#menuYear .sort-options,
#menuClass .sort-options {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}
.sort-options::-webkit-scrollbar {
  width: 5px;
}

.sort-options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.sort-options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.sort-options::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgb(189, 189, 189);
}

.sort-options li {
  height: 35px;
  padding: 0 8px;
  border-radius: var(--sort-border-radius);
  list-style: none;
  font-size: 14px;
}

.sort-options li:hover {
  background: #f2f2f2;
}

.btn-delete {
  background: var(--del-btn);
  color: #f1f1f1;
}
.btn-delete:hover {
  background: var(--del-hover);
}
.btn-delete:active {
  background: var(--del-hover);
}
.btn-delete,
.btn-edit,
.btn-save {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  width: 120px;
  max-width: 120px;
  height: 37px;
  font-size: 15px;
  color: #f1f1f1;
}
.btn-edit {
  background: var(--edit-btn);
}
.btn-save {
  background: var(--linear-btn);
}

/*rightside */
.main__filter--search {
  width: 230px;
  max-width: 250px;
  position: relative;
  display: block;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;

  border-radius: var(--sort-border-radius);
  border: 1px solid var(--line-color);
  box-shadow: 0 1px 2px 0 var(--bg-text);

  padding: 10px;
  margin-left: 105px;

  align-items: center;
  color: #a7a8b0;
}

.search-input__field {
  padding: 0 2px;
  outline: none;
  border: none;
  line-height: normal;
  width: 100%;
  font-size: 15px;
  background: transparent;
}
.search-input__field::placeholder {
  color: #ccc;
  font-weight: 200;
}
.search-input__button {
  top: 0;
  right: 15px;
  line-height: 40px;
  position: absolute;
}
.main__filter--search:hover {
  border: 1px solid rgb(192, 208, 236);
}

/* =============================================== */

.main__list {
  display: flex;
  /* width: 100%; */
  /* position: absolute; */
  /* top: 100px;
  left: 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  color: #434343;
  font-size: 14px;
  margin: 25px 15px 50px 0;
  padding-bottom: 50px;
  z-index: 1;
}
#tablefull {
  /* width: 100%; */
}

#tablecollapse {
  /* display: none; */
  width: 53%;
}

.tablelist {
  flex-wrap: wrap;
  font-size: 14px;
  border-radius: 5px;
  padding: 20px 0 0 0;
  background: #fff;
  position: relative;
  list-style: none;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.03);
}

.list-body {
  height: 480px;
  overflow-y: auto;
}
.list-body::-webkit-scrollbar {
  width: 5px;
}

.list-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.list-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.list-body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgb(189, 189, 189);
}

.list-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  list-style: none;
  padding-bottom: 17px;
}

.list-info {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: var(--bg-text);
  height: 55px;
}
.list-info:hover {
  background-color: var(--list-hover-color);
}
.col-checkbox {
  min-width: 60px;
  text-align: center;
}
.col-stt {
  min-width: 60px;
  text-align: center;
}
.col-name {
  min-width: 250px;
}
.col-idstu {
  min-width: 200px;
}
.col-email {
  min-width: 230px;
}
.col-department {
  min-width: 150px;
}
.col-year {
  min-width: 80px;
}
.col-class {
  min-width: 100px;
}
.col-action {
  margin: 0 10px;
  min-width: 100px;
  text-align: center;
}

/* ======================= */
.col-idstu.collapse {
  display: none;
}
.col-department .collapse {
  display: none;
}
.col-year.collapse {
  display: none;
}
.col-class .collapse {
  display: none;
}
/* ======================= */

.btn-view {
  float: right;
  outline: none;
  /* margin-top: 15px; */
  padding: 7px 17px;
  background: var(--linear-btn);
  font-size: 14px;
  color: var(--bg-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.btn-view:hover {
  background: var(--linear-btn);
}

/* .info-div {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 15px;
    margin: 20px 10px 30px 25px;
    background: var(--list-hover-color);
    box-sizing: border-box;
} */
.info-div {
  display: none;
}
.info-div.active {
  display: block;
  position: relative;
  width: 45%;
  font-size: 14px;
  background: var(--list-hover-color);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.03);
}

.info-div #closeinfo {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #93acbe;
  font-size: 24px;
  cursor: pointer;
}

.info-list {
  display: block;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.info-list .info-class {
  display: flex;
}

.info-class .img-student {
  width: 120px;
  height: 120px;
}
.info-class .img-student .img-student__item {
  width: 100%;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  clip-path: circle();
}

.info-class .info-class__list {
  margin-left: 30px;
  line-height: 25px;
}

.info-list_heading {
  margin-right: 10px;
  font-weight: bold;
  width: 120px;
  min-width: 95px;
  display: inline-block;
}

.info-list .info-contact {
  position: relative;
}

.info-contact .contact-heading {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.4rem;
  position: relative;
}
.info-contact .contact-heading::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffbf3b;
}
.info-contact .contact-detail {
  margin-top: 15px;
  line-height: 30px;
}

.info-contact .info-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.col-idstu .active {
  display: none;
}
.col-department .active {
  display: none;
}
.col-year .active {
  display: none;
}
.col-class .active {
  display: none;
}
