#header {
    height: 50px;
    /* z-index: 990; */
    padding: 10px 10px;
    background: #3DB2FF;
    box-shadow: 0px 0px 60px #d9dfec;
}
.logo img {
    position: relative;
    padding-left: 40px;
    padding-right: 12px;
    margin: auto;
    padding: auto;
    width: 45px;
    height: 45px;
}
#header .logo h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-left : 100px;
    margin-top: -40px;
}
.float-left {
    float: left !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #F0F3FA;
}

.smallbar{
    position: absolute;
    width: 2px;
    height: 25px;
    left: 50px;
    top: 90px;
    background: #3DB2FF;
}

.trangttsv {
    position: absolute;
    width: 1000px;
    height: 27px;
    left: 60px;
    top: 80px;
    color: #434343;
    font-size: 15px;
    font-weight: bold;

}

#list, #info {
    margin-top: 125px;
    float: left;
    box-sizing: border-box;
    height: 100%;
    text-align: left;

}
  
#list {
    
    width: 650px;
    
}
#list table{
    table-layout: fixed;
    width: 100%;
    background-color: transparent;
    
}
#list table tr, th, td {
    padding: 10px;
}

#list table thead th {
    background-color: #F0F3FA;
    border-collapse: collapse;
    border-color: #F0F3FA;
}

#list table tbody tr {
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: #d8dcdd 0 1px 2px;

    border-bottom: 1px solid rgb(211, 211, 211);
}

#list table tbody td {
    border: white;
    border-collapse: collapse;
    border-spacing: 0;
}
#list tr:hover {
    cursor:pointer;
    background-color:rgb(231, 243, 245); 
}
#list .stt {
    width:20px;
    text-align: center;

}
#list .xem {
    width:50px;
    text-align: center;
}
  
#info {
    width: 645px;
    height: 478px;
    background-color: white;
    border-radius: 5px;
    box-shadow: #d8dcdd 0 4px 5px;
    float: left;
}

.ava {
    width:120px; 
    height:120px;
}

#info table thead  {
    font-weight: bold;
}

#info .table {
    width: 43%;
    height: 100%;
    float: right;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial;
}

.container {
    background-color: #F0F3FA;
    color: #434343;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tablelist {
    float: left;
    display: block;

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}







